body {
    background: url(https://i.pinimg.com/originals/e2/6f/ba/e26fba8d9f2102d2dd8699c80b8ddc78.jpg);
}

* {
    padding: 0;
    margin: 0;
}


/* -------------------------------------------------------------------------------------------------------------------- */


/*-------------------------------------------------WWYBIERZ TLO-------------------------------------------------------- */

.wybierz_tlo {
    width: 100%;
    height: 10px;
    text-align: center;
    margin: 5% auto;
    font-size: 5rem;
    letter-spacing: 6px;
    font-weight: bold;
    font-family: 'Nosifer', cursive;
    position: relative;
    animation: smooth 3s linear 1s both;
}

.wybierz_tlo p {
    background: linear-gradient(to left, rgb(185, 0, 4), rgb(82, 0, 246));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline;
}


/* ----------------------------------------------------------------------------------------------------------------------- */


/* ---------------------------------------------------KONTENER TLA------------------------------------------- */

.kontener_tla {
    position: relative;
    margin: 100px auto;
    animation: smooth 3s linear 1s both;
}

.kontener2_tla {
    position: relative;
    margin: 60px auto;
    animation: smooth 3s linear 1s both;
}

.kontener3_tla {
    position: relative;
    margin: 100px auto;
    animation: smooth 3s linear 1s both;
}


/* ---------------------------------------------------------------------------------------------------------------- */


/* ---------------------------------------------------TLO GRY------------------------------------------------------ */

.tlo_gry {
    position: relative;
    top: 60px;
    left: 235px;
    border-radius: 6px;
    margin-right: 30px;
    transition: background-color .1s ease-in-out, border-width .2s ease-in-out;
    animation: smooth 3s linear 1s both;
    float: left;
}

.tlo2_gry {
    position: relative;
    top: 60px;
    left: 235px;
    border-radius: 6px;
    margin-right: 30px;
    transition: background-color .1s ease-in-out, border-width .2s ease-in-out;
    animation: smooth 3s linear 1s both;
    float: left;
}

.tlo3_gry {
    position: fixed;
    top: 155px;
    left: 235px;
    border-radius: 6px;
    margin-right: 30px;
    transition: background-color .1s ease-in-out, border-width .2s ease-in-out;
    animation: smooth 3s linear 1s both;
    float: left;
}


/* ------------------------------------------------------------------------------------------------------- */


/* ------------------------------------------RAMKA TLA---------------------------------------------------- */

.ramka_tla {
    position: fixed;
    height: 450px;
    width: 450px;
    top: 29.18%;
    left: 7.6%;
    border-style: solid;
    border-width: 8px;
    border-radius: 12px;
    color: red;
    transition: background-color .1s ease-in-out, border-width .2s ease-in-out;
    animation: smooth 3s linear 1s both;
}

.ramka2_tla {
    position: fixed;
    height: 450px;
    width: 450px;
    top: 29.18%;
    left: 37.6%;
    border-style: solid;
    border-width: 8px;
    border-radius: 12px;
    color: red;
    transition: background-color .1s ease-in-out, border-width .2s ease-in-out;
    animation: smooth 3s linear 1s both;
}

.ramka3_tla {
    position: fixed;
    height: 450px;
    width: 450px;
    top: 29.18%;
    left: 67.6%;
    border-style: solid;
    border-width: 8px;
    border-radius: 12px;
    color: red;
    transition: background-color .1s ease-in-out, border-width .2s ease-in-out;
    animation: smooth 3s linear 1s both;
}

.ramka_tla:hover,
.ramka2_tla:hover,
.ramka3_tla:hover {
    background-color: red;
    border-width: 16px;
}

@keyframes smooth {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/* --------------------------------------------------- rozgrywka -------------------------*/

* {
    box-sizing: border-box;
}

.kontener {
    position: absolute;
    display: none;
    width: 1345px;
    height: 762px;
    margin-top: 60px;
    margin-left: 234px;
    transition: background-color .1s ease-in-out, border-width .2s ease-in-out;
    animation: smooth 3s linear 1s both;
}

.andzix {
    position: absolute;
    height: 50px;
    background-color: black;
    bottom: 10px;
    left: 650px;
}

.kiep {
    position: absolute;
    width: 25px;
    height: 50px;
    background-color: black;
}

.pkt {
    margin: 10px 700px;
    font-size: 50px;
    border: 1px solid rgba(255, 0, 0, 0.5);
}

.zycia {
    margin: 10px 100px;
    width: 100px;
    text-align: center;
    font-size: 50px;
    border: 1px solid rgba(255, 0, 0, 0.5);
    background-color: rgba(255, 0, 0, 0.5);
}
.mana {
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: dodgerblue;
}
.serce {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: red;
}
meter{
    flood-color: aquamarine;
}
